body {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  min-width: 850px;
}

header {
  flex-basis: 100%;
  order: 1;
}

nav {
  flex: 1;
  order: 2;
}

main {
  flex: 4;
  order: 3;
}

footer {
  flex-basis: 100%;
  order: 4;
}

nav li {
  display: block;
}

nav#client {
  position: absolute;
  top: 20px;
  right: 30px;
}